.portfolio-work {
  padding: 80px 0;

  .block {
    .portfolio-menu {
      text-align: center;

      .btn-group {
        margin-bottom: 40px;
        
        .btn-primary {
          color: lighten( $black, 20 );
          border: 1px solid $border-color;
          background: $white;
          font-size: 15px;
          outline: 0;
          border-radius: 0;
          margin: 2px;
          padding: 8px 25px;
          @include transition (all, 0.3s, ease);
        }

        .btn-check:checked + .btn-primary {
          box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        }
      }
    }
  }
}

.portfolio {
  &-item {
    position: relative;
    padding: 0;
    .block{
      height: 260px;
    }

    img {
      width: 100%;
      height: 100%;
      max-height: 260px;
      overflow: hidden;
      justify-content: center;
      display: flex;
      }

      @media screen and (max-width:1000px) {
        .img {
            height: 56%;
            min-height: 46%;
            overflow: hidden;
            justify-content: center;
            display: flex;
        }   
      } 

    &:hover {
      .portfolio-hover {
        visibility: visible;
        opacity: 1;
      }

      .portfolio-content {
        transform: translateY(-50%);
      }
    }
  }

  &-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(60, 55, 55, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
  }

  &-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-40%);
    text-align: center;
    padding: 20px;
    transition: inherit;

    * {
      color: $white;
    }

    a {
      display: block;
      transition: .2s ease;

      i {
        font-size: 30px;
      }

      &.h3 {
        margin-top: 0;
      }
    }
  }
}

// Portfolio Single Page
.portfolio-single-page {
  .project-details {
    h4 {
      margin-bottom: 20px;
      padding-bottom: 10px;
    }

    span {
      color: lighten( $black, 51.3 );
      width: 180px;
      display: inline-block;
    }

    strong {
      color: lighten( $black, 19.2 );
      font-weight: normal;
    }

    ul {
      li {
        margin-bottom: 10px;
      }
    }
  }
}

.platform-tag{
  ul{
    li{
      a{
        padding: 10px;
        color: black;
        background-color: rgb(65, 139, 140);
        text-align: center;
      }
      a:link{
        color: black;
        background-color: rgb(65, 139, 140);
        text-align: center;
      }
      a:visited{
        color: white;
        background-color: rgb(65, 139, 140);
      }
      a:hover{
        color: white;
        background-color: gray;
      }
      a:active{
        color: white;
        background-color: rgb(65, 139, 140);
      }
    }
  }
}